<!DOCTYPE>
<head>
    <title>{% block titulo %}{% endblock %}</title>
</head>
<html>
   <body>
       {% block conteudo %}{% endblock %}
       {% block rodape %}
       <hr>
      <p>Obrigado por nos visitar!</p>
      {% endblock %}
     </body>
</html>